@import "tailwindcss";

@theme {
  --color-brand-500: #58a6ff;
  --color-brand-600: #3f83f8;
  --color-dark-900: #0d1117;
  --color-dark-800: #1ca152;
  --color-dark-700: #161b22;
  --color-dark-border: #30363d;
}

@layer base {
  body {
    background-color: var(--color-dark-900);
    color: #c9d1d9;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  }
}
