@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-500: #58a6ff;
  --color-brand-600: #3f83f8;
  --color-dark-900: #0d1117;
  --color-dark-800: #1ca152;
  --color-dark-700: #161b22;
  --color-dark-border: #30363d;
}

@layer base {
  body {
    background-color: var(--color-dark-900);
    color: #c9d1d9;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-dark-900);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #30363d;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #484f58;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #30363d var(--color-dark-900);
  }
}
